---
pageable: true
per_page: 100
---
<h1 class="name">南瓜糖の日々</h1>
<ul class="index">
<% page_articles.each_with_index do |article, i| %>
  <li class="index-item"><%= link_to article.title, article %></li>
<% end %>
</ul>
<hr />
<ul class="index by-year">
  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
  <li><%= link_to "#{year}", blog_year_path(year) %></li>
  <% end %>
</ul>
